{% set title = "Oups!"|_ %}
{% extends 'base.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row vh-100 gap-3">
            <div class="col-12 text-center align-self-end">
                <p class="display-1 text-black-50 fw-bold my-0">
                    404
                </p>
                <p class="small text-muted my-0">
                    {{ "page introuvable"|_ }}
                </p>
            </div>
            <div class="col-12 text-center align-self-start">
                <p class="display-6 my-0 text-danger">
                    {{ "Mais où vas-tu?"|_ }}
                </p>
            </div>
            <div class="col-12 text-center align-self-start">
                <img class="errorsIcon" src="./images/404.png" alt="404">
            </div>
            <div class="col-12 text-nowrap text-center align-self-start">
                <a href="{{ route('home') }}" class="btn btn-outline-secondary">{{ "retourner à l'accueil"|_ }}</a>
            </div>
        </div>
    </div>
{% endblock body %}