{% set title = "Bienvenue"|_ %}
{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <main class="container-fluid py-5">
        <p>Accueil</p>
        <p>Bonjour {{ user.displayName }} avec le role {{ user.role }}</p>
    </main>

    {% include 'footer.html.twig' %}
{% endblock body %}