{% set title = "Bienvenue"|_ %}
{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <main class="container-fluid py-5 small">
        <p>Accueil</p>
        <p>Bonjour {{ user.displayName|_ }} avec le role {{ enums.roleTitle[user.role]|_ }}</p>
        
    </main>

    {% include 'footer.html.twig' %}
{% endblock body %}