{% set title = "Mon tableau de bord"|_ %}
{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <main class="py-5">
        <p>Tableau de bord de {{ user.displayName }} avec le role {{ user.role }}</p>
    </main>

    {% include 'footer.html.twig' %}
{% endblock body %}